* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

:root {
    
    --dark-orange: rgb(209, 106, 29);
    --pastel-blue: rgb(223, 231, 242);  
    --pastel-beige: rgb(240, 199, 177);
    --pastel-white:rgb(255, 248, 245);
    --pastel-grey:rgb(204, 204, 204);
    
    --main-clr: #B2A492;
    --accent-clr-2: #B3A492;
    --accent-clr-3: #BFB29E;
    --accent-clr-4: #D6C7AE;
    --accent-white: whitesmoke;
    --input-box-shadow: rgba(-1, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    --card-box-shadow: box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.transparent {
    background: transparent;
    border: none;
}


body {
    min-height: 100vh;
    display: flex;
    background-color: var(--pastel-white);
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}

/* HEADER */

.header-section {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
}



/* header-text */

.header-section h1 {
    color: black;
    
    font-weight: 600;
}

.header-section button {
    background-color: transparent;
    border: none;
    font-weight: bold;
}
    
.header-section button div {
    color: black;
    font-weight: 600;
}


/* add book section */

.add-book {
    color: white;
    font-weight: 300;
    font-size: 10px;
    padding: 5px 10px;
    background-color: var(--dark-orange);
    border-radius: 20px;
}

.add-book:hover {
   background-color: #B2A492; 
   transform: scale(1.03);
}

/* kS */

.add-book-section {
    
    display: flex;
    justify-content: center;
    align-content: center;
}

.card-container {
    padding: 1rem;
    display: flex;
    row-gap: 1rem;
    flex-direction: column;

}

.card:hover {
    transform: scale(1.03);
}

.card {
    opacity: 70%;
    padding: 1rem;
    background-color: var(--pastel-blue);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    box-shadow: var(--input-box-shadow);
    justify-content: space-between;
}
.placeholder {
    display: none;
}
.book-info {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    
}

.book-info div {

}
.book-info .title {
    font-weight: 600;
    color: black;
}

.book-info .author,
.book-info .progress{
    font-size: 12px;

}



.button-sec {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

footer {
    background-color: var(--pastel-white);
    display: flex;
    justify-content: center;
}

footer div {

    font-size: 10px;
}




@media only screen and (min-width:700px) {
    .header-section,
    .add-book-section,
    .card-container {
        margin: auto;
        width: 70%;
        
    }
    .card-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        grid-template-rows: repeat(auto,200px);
    }

    
}

/* dialog */

dialog {
    border: none;
    display: flex;
    background-color: whitesmoke;
    padding: 20px ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    flex-direction: column;
    border-radius: 5px;
    
}

.closed {
    display: none;
}

.close-dialog {
    padding: 3px;
    align-self: flex-end;
    display: flex;

}
.close-dialog:hover {
    background-color: rgb(235, 235, 235);
    border-radius: 3px;
}

.close-dialog > div {
    color: var(--dark-orange);
    font-weight: 500;
}

#add-book-modal > p,
#update-book-modal > p{
    padding: 10px 0px;
    font-weight: 500;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
form div {
    display: flex;
    flex-direction: column;
}


input {
    padding: 5px;
    border: none;
    /* border: 2px solid whitesmoke; */
    border-radius: 3px;
    box-shadow: var(--input-box-shadow);
    border: 1.5px solid transparent;
    font-size: 12px;
    transition: 0.5s;
}

input[type="checkbox"] {
    box-shadow: none;
}



input:focus {
    outline-width: 0;
    border: 1.5px solid rgb(188, 188, 188);
    
}

label {
    display: none;
}

.book-read {
    flex-direction: row;
    column-gap: 2px;
}


.book-read div {
    font-size: 12px;
    
}

.submit-book button {
    align-self: center;
    width: 80px;
    padding: 5px;
    border: none;
    border-radius: 25px;
    background-color: rgb(197, 255, 197);
    font-size: 10px;
    font-weight: 600;
    color: black;
}
.submit-book button:hover {
    background-color: rgb(187, 227, 187);
    transform: scale(1.03);

}

/* button section */
.button-sec button {
    padding: .2rem .5rem;
    border: none;
    border-radius: 20px;
    font-weight: 400;
    font-size: 10px;
    background-color: var(--pastel-grey);
    color: rgb(104, 104, 104);
    width: 80px;
    transition: 0.5s;
}
.button-sec button:hover {
    transform: scale(1.03);
    background-color: #B3A492;

}

.button-sec .read {
    color: var(--pastel-white)
}
    

.button-sec .read-done {
    background-color: rgb(124, 250, 124);
}

.button-sec .read-not {
    background-color: rgb(254, 102, 102);
}





@keyframes slightEnlarge {
    from {
        transform: scale(1);
    }  
    to {
        transform: scale(1.9);
    }
}



.transition-ease {
    transition: all 0.2s;
}


dialog{
    animation: scale-in-center 0.7s;

}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);

        opacity: 1
    }
    
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    } 
    
}